server:
  port: 8081

spring:
  application:
    name: notification-service

kafka:
  bootstrap-servers: localhost:9092
  consumer:
    group-id: notification-group
    auto-offset-reset: earliest
    key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    properties:
      spring.json.trusted.packages: "org.ausiankou.notificationservice"
      spring.json.type.mapping: "userEvent:org.ausiankou.notificationservice.UserEvent"
  topic:
    user-events: user-events

app:
  email:
    mode: console